#app {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
}

#editor {
  padding: 16px;
  flex: 1;
}

#left {
  width: 300px;
  background-color: #f1f1f1;
}

#right {
  width: 300px;
  background-color: #f1f1f1;
}

#codemirror {
  width: 100%;
  overflow: hidden;
}

#bottomBar {
  padding: 4px;
  text-align: right;
  background-color: #e1e1e1;
}